In [1]:
# Dim_date

In [50]:
import pandas as pd

df = pd.DataFrame({
    'date': pd.date_range(start='2010-01-01', end='2035-12-31', freq='D')
})

df.head()

        date
0 2010-01-01
1 2010-01-02
2 2010-01-03
3 2010-01-04
4 2010-01-05

In [51]:
df['day'] = df['date'].dt.day
df['month'] = df['date'].dt.month
df['year'] = df['date'].dt.year
df['day_of_week'] = df['date'].dt.dayofweek
df['month_name'] = df['date'].dt.month_name()
df['day_of_week_name'] = df['date'].dt.day_name()
df["date"] = pd.to_datetime(df["date"]).dt.date

In [52]:
print(df.head())  # Display the first few rows to verify the DataFrame

         date  day  month  year  day_of_week month_name day_of_week_name
0  2010-01-01    1      1  2010            4    January           Friday
1  2010-01-02    2      1  2010            5    January         Saturday
2  2010-01-03    3      1  2010            6    January           Sunday
3  2010-01-04    4      1  2010            0    January           Monday
4  2010-01-05    5      1  2010            1    January          Tuesday

In [53]:
df.reset_index(inplace=True)  # Reset index to ensure it starts from 0
df['index'] = df.index + 1  # Create a date_id column starting from 1
print(df.head())  # Display the first few rows to verify the DataFrame

   index        date  day  month  year  day_of_week month_name  \
0      1  2010-01-01    1      1  2010            4    January
1      2  2010-01-02    2      1  2010            5    January
2      3  2010-01-03    3      1  2010            6    January
3      4  2010-01-04    4      1  2010            0    January
4      5  2010-01-05    5      1  2010            1    January

  day_of_week_name
0           Friday
1         Saturday
2           Sunday
3           Monday
4          Tuesday

In [54]:
df = pd.DataFrame.rename(df, columns={
    'index': 'date_id',
    'date': 'date',
    'day': 'day_number',
    'month': 'month_number',
    'year': 'year',
    'day_of_week': 'day_of_week_number',
    'month_name': 'month_name',
    'day_of_week_name': 'day_of_week_name'
})

print(df.head())  # Display the first few rows to verify the DataFrame

   date_id        date  day_number  month_number  year  day_of_week_number  \
0        1  2010-01-01           1             1  2010                   4
1        2  2010-01-02           2             1  2010                   5
2        3  2010-01-03           3             1  2010                   6
3        4  2010-01-04           4             1  2010                   0
4        5  2010-01-05           5             1  2010                   1

  month_name day_of_week_name
0    January           Friday
1    January         Saturday
2    January           Sunday
3    January           Monday
4    January          Tuesday

In [118]:
import psycopg2

conn = psycopg2.connect(
    host="localhost",
    database="final_project",
    user="postgres",
    password="Dipank01#"
)
curr = conn.cursor()

In [56]:
curr.execute("""
CREATE TABLE IF NOT EXISTS dim_date (
    date_id SERIAL PRIMARY KEY,
    date DATE NOT NULL,
    day_number INT NOT NULL,
    month_number INT NOT NULL,
    year INT NOT NULL,
    day_of_week_number INT NOT NULL,
    month_name VARCHAR(20) NOT NULL,
    day_of_week_name VARCHAR(20) NOT NULL
);
""")

conn.commit()  # Commit the changes to the database

In [ ]:
from sqlalchemy import create_engine

engine = create_engine('postgresql+psycopg2://postgres:Dipank01#@localhost/final_project')

df.to_sql('dim_date', engine, if_exists='replace', index=False)
# To directly insert into the database

496

In [58]:
curr.close()  # Close the cursor

In [148]:
# dim_fund
curr = conn.cursor()

curr.execute("""
SELECT * FROM fund_details;
""")
fund_details = curr.fetchall()

df_fund = pd.DataFrame(fund_details, columns=['fund_id', 'fund_house', 'scheme_type', 
                                              'scheme_category', 'scheme_code', 'scheme_name', 'isin_growth'])

In [149]:
df_fund

,fund_id,fund_house,scheme_type,scheme_category,scheme_code,scheme_name,isin_growth
0,100033,Aditya Birla Sun Life Mutual Fund,Open Ended Schemes,Equity Scheme - Large & Mid Cap Fund,100033,Aditya Birla Sun Life Large & Mid Cap Fund - R...,INF209K01165
1,100177,quant Mutual Fund,Open Ended Schemes,Equity Scheme - Small Cap Fund,100177,quant Small Cap Fund - Growth - Regular Plan,INF966L01AA0
2,100219,JM Financial Mutual Fund,Open Ended Schemes,Equity Scheme - Large Cap Fund,100219,JM Large Cap Fund (Regular) - Growth Option,INF192K01601
3,100475,Tata Mutual Fund,Open Ended Schemes,Equity Scheme - Large Cap Fund,100475,Tata Large Cap Fund -Regular Plan - Growth Option,INF277K01931
4,100477,Taurus Mutual Fund,Open Ended Schemes,Equity Scheme - Mid Cap Fund,100477,Taurus Mid Cap Fund - Regular Plan - Growth,INF044D01815
...,...,...,...,...,...,...,...
91,153238,Samco Mutual Fund,Open Ended Schemes,Equity Scheme - Large Cap Fund,153238,Samco Large Cap Fund - Regular Plan - Growth O...,INF0K1H01263
92,153327,Helios Mutual Fund,Open Ended Schemes,Equity Scheme - Mid Cap Fund,153327,Helios Mid Cap Fund - Regular Plan - Growth Plan,INF0R8701293
93,153533,Samco Mutual Fund,Open Ended Schemes,Equity Scheme - Large & Mid Cap Fund,153533,Samco Large & Mid Cap Fund - Regular Plan - Gr...,INF0K1H01289
94,153627,JM Financial Mutual Fund,Open Ended Schemes,Equity Scheme - Large & Mid Cap Fund,153627,JM Large & Mid Cap Fund (Regular) - Growth Option,INF192K01NM3
95,132983,Sundaram Mutual Fund,Open Ended Schemes,Equity Scheme - Small Cap Fund,132983,Sundaram Select Small Cap Series II Regular Gr...,

In [150]:
df_fund.drop(columns=['scheme_code', 'isin_growth'], inplace=True)  # Drop unnecessary columns

In [151]:
import numpy as np

def scheme_type(name):
    if 'large & mid cap' in name.lower():
        return 'Large & Mid Cap'
    elif 'mid cap' in name.lower():
        return 'Mid Cap'
    elif 'small cap' in name.lower():
        return 'Small Cap'
    elif 'large cap' in name.lower():
        return 'Large Cap'
    elif 'multi cap' in name.lower():
        return 'Multi Cap'
    else:
        return np.nan

df_fund['scheme_type'] = df_fund['scheme_name'].apply(scheme_type)

df_fund.head()

,fund_id,fund_house,scheme_type,scheme_category,scheme_name
0,100033,Aditya Birla Sun Life Mutual Fund,Large & Mid Cap,Equity Scheme - Large & Mid Cap Fund,Aditya Birla Sun Life Large & Mid Cap Fund - R...
1,100177,quant Mutual Fund,Small Cap,Equity Scheme - Small Cap Fund,quant Small Cap Fund - Growth - Regular Plan
2,100219,JM Financial Mutual Fund,Large Cap,Equity Scheme - Large Cap Fund,JM Large Cap Fund (Regular) - Growth Option
3,100475,Tata Mutual Fund,Large Cap,Equity Scheme - Large Cap Fund,Tata Large Cap Fund -Regular Plan - Growth Option
4,100477,Taurus Mutual Fund,Mid Cap,Equity Scheme - Mid Cap Fund,Taurus Mid Cap Fund - Regular Plan - Growth

In [152]:
df_fund['scheme_category'].unique()

array(['Equity Scheme - Large & Mid Cap Fund',
       'Equity Scheme - Small Cap Fund', 'Equity Scheme - Large Cap Fund',
       'Equity Scheme - Mid Cap Fund', 'Income', 'Growth', 'ELSS'],
      dtype=object)

In [153]:
def scheme_category(category):
    if 'equity' in category.lower():
        return 'Equity'
    elif 'income' in category.lower():
        return 'Income'
    elif 'growth' in category.lower():
        return 'Growth'
    elif 'elss' in category.lower():
        return 'ELSS'
    else:
        return np.nan

df_fund['scheme_category'] = df_fund['scheme_category'].apply(scheme_category)

df_fund.head()

,fund_id,fund_house,scheme_type,scheme_category,scheme_name
0,100033,Aditya Birla Sun Life Mutual Fund,Large & Mid Cap,Equity,Aditya Birla Sun Life Large & Mid Cap Fund - R...
1,100177,quant Mutual Fund,Small Cap,Equity,quant Small Cap Fund - Growth - Regular Plan
2,100219,JM Financial Mutual Fund,Large Cap,Equity,JM Large Cap Fund (Regular) - Growth Option
3,100475,Tata Mutual Fund,Large Cap,Equity,Tata Large Cap Fund -Regular Plan - Growth Option
4,100477,Taurus Mutual Fund,Mid Cap,Equity,Taurus Mid Cap Fund - Regular Plan - Growth

In [154]:
df_fund['scheme_category'].unique()

array(['Equity', 'Income', 'Growth', 'ELSS'], dtype=object)

In [155]:
df_fund['scheme_name'] = df_fund['scheme_name'].str.split('-').str[0] # Keep only the first part of the scheme name

df_fund.head()

,fund_id,fund_house,scheme_type,scheme_category,scheme_name
0,100033,Aditya Birla Sun Life Mutual Fund,Large & Mid Cap,Equity,Aditya Birla Sun Life Large & Mid Cap Fund
1,100177,quant Mutual Fund,Small Cap,Equity,quant Small Cap Fund
2,100219,JM Financial Mutual Fund,Large Cap,Equity,JM Large Cap Fund (Regular)
3,100475,Tata Mutual Fund,Large Cap,Equity,Tata Large Cap Fund
4,100477,Taurus Mutual Fund,Mid Cap,Equity,Taurus Mid Cap Fund

In [156]:
df_fund.reset_index(inplace=True)
df_fund['index'] = df_fund.index + 1
df_fund.rename(columns={
    'index':'fund_key'
}, inplace=True)
df_fund.head()

,fund_key,fund_id,fund_house,scheme_type,scheme_category,scheme_name
0,1,100033,Aditya Birla Sun Life Mutual Fund,Large & Mid Cap,Equity,Aditya Birla Sun Life Large & Mid Cap Fund
1,2,100177,quant Mutual Fund,Small Cap,Equity,quant Small Cap Fund
2,3,100219,JM Financial Mutual Fund,Large Cap,Equity,JM Large Cap Fund (Regular)
3,4,100475,Tata Mutual Fund,Large Cap,Equity,Tata Large Cap Fund
4,5,100477,Taurus Mutual Fund,Mid Cap,Equity,Taurus Mid Cap Fund

In [157]:
curr = conn.cursor()

curr.execute('''
             CREATE TABLE IF NOT EXISTS dim_fund(
             fund_key SERIAL PRIMARY KEY,
             fund_id INTEGER NOT NULL,
             fund_house VARCHAR(50) NOT NULL,
             scheme_type VARCHAR(50) NOT NULL,
             scheme_category VARCHAR(50) NOT NULL,
             scheme_name VARCHAR(100)
            )
             '''
             )

conn.commit()

In [158]:
from sqlalchemy import create_engine

engine = create_engine('postgresql+psycopg2://postgres:Dipank01#@localhost/final_project')

df_fund.to_sql('dim_fund', engine, if_exists='replace', index=False)

96

In [138]:
curr.close()

In [107]:
# dim_ticker

curr = conn.cursor()

curr.execute(
    '''SELECT * from tickers_info'''
)

ticker_info = curr.fetchall()

df_ticker = pd.DataFrame(ticker_info, columns=["ticker", "currency", "exchange", "exchangetimezonename",
                                                "exchangetimezoneshortnar", "fullexchangename", "gmtoffsetmilliseconds", "longname", "market", "marketstate", 
                                                "quotetype", "region", "shortname", "symbol", "typedisp"])

In [108]:
df_ticker

,ticker,currency,exchange,exchangetimezonename,exchangetimezoneshortnar,fullexchangename,gmtoffsetmilliseconds,longname,market,marketstate,quotetype,region,shortname,symbol,typedisp
0,AUBANK.NS,INR,NSI,Asia/Kolkata,IST,NSE,19800000,AU Small Finance Bank Limited,in_market,CLOSED,EQUITY,India,AU SMALL FINANCE BANK LTD,AUBANK.NS,Equity
1,BHARATFORG.NS,INR,NSI,Asia/Kolkata,IST,NSE,19800000,Bharat Forge Limited,in_market,CLOSED,EQUITY,India,BHARAT FORGE LTD,BHARATFORG.NS,Equity
2,CDSL.NS,INR,NSI,Asia/Kolkata,IST,NSE,19800000,Central Depository Services (India) Limited,in_market,CLOSED,EQUITY,India,CENTRAL DEPO SER (I) LTD,CDSL.NS,Equity
3,CYIENT.NS,INR,NSI,Asia/Kolkata,IST,NSE,19800000,Cyient Limited,in_market,CLOSED,EQUITY,India,CYIENT LIMITED,CYIENT.NS,Equity
4,EQUITASBNK.NS,INR,NSI,Asia/Kolkata,IST,NSE,19800000,Equitas Small Finance Bank Limited,in_market,CLOSED,EQUITY,India,EQUITAS SMALL FIN BNK LTD,EQUITASBNK.NS,Equity
5,HDFCBANK.NS,INR,NSI,Asia/Kolkata,IST,NSE,19800000,HDFC Bank Limited,in_market,CLOSED,EQUITY,India,HDFC BANK LTD,HDFCBANK.NS,Equity
6,ICICIBANK.NS,INR,NSI,Asia/Kolkata,IST,NSE,19800000,ICICI Bank Limited,in_market,CLOSED,EQUITY,India,ICICI BANK LTD.,ICICIBANK.NS,Equity
7,INFY.NS,INR,NSI,Asia/Kolkata,IST,NSE,19800000,Infosys Limited,in_market,CLOSED,EQUITY,India,INFOSYS LIMITED,INFY.NS,Equity
8,KPITTECH.NS,INR,NSI,Asia/Kolkata,IST,NSE,19800000,KPIT Technologies Limited,in_market,CLOSED,EQUITY,India,KPIT TECHNOLOGIES LIMITED,KPITTECH.NS,Equity
9,MAXHEALTH.NS,INR,NSI,Asia/Kolkata,IST,NSE,19800000,Max Healthcare Institute Limited,in_market,CLOSED,EQUITY,India,MAX HEALTHCARE INS LTD,MAXHEALTH.NS,Equity
10,RELIANCE.NS,INR,NSI,Asia/Kolkata,IST,NSE,19800000,Reliance Industries Limited,in_market,CLOSED,EQUITY,India,RELIANCE INDUSTRIES LTD,RELIANCE.NS,Equity
11,TATAELXSI.NS,INR,NSI,Asia/Kolkata,IST,NSE,19800000,Tata Elxsi Limited,in_market,CLOSED,EQUITY,India,TATA ELXSI LIMITED,TATAELXSI.NS,Equity
12,TCS.NS,INR,NSI,Asia/Kolkata,IST,NSE,19800000,Tata Consultancy Services Limited,in_market,CLOSED,EQUITY,India,TATA CONSULTANCY SERV LT,TCS.NS,Equity
13,TIINDIA.NS,INR,NSI,Asia/Kolkata,IST,NSE,19800000,Tube Investments of India Limited,in_market,CLOSED,EQUITY,India,TUBE INVEST OF INDIA LTD,TIINDIA.NS,Equity
14,ZYDUSLIFE.NS,INR,NSI,Asia/Kolkata,IST,NSE,19800000,Zydus Lifesciences Limited,in_market,CLOSED,EQUITY,India,ZYDUS LIFESCIENCES LTD,ZYDUSLIFE.NS,Equity
15,^BSESN,INR,BSE,Asia/Kolkata,IST,BSE,19800000,S&P BSE SENSEX,in_market,CLOSED,INDEX,India,S&P BSE SENSEX,^BSESN,Index
16,^CNXSC,INR,NSI,Asia/Kolkata,IST,NSE,19800000,NIFTY SMLCAP 100,in_market,CLOSED,INDEX,India,NIFTY SMLCAP 100,^CNXSC,Index
17,^NSEI,INR,NSI,Asia/Kolkata,IST,NSE,19800000,NIFTY 50,in_market,CLOSED,INDEX,India,NIFTY 50,^NSEI,Index
18,^NSEMDCP50,INR,NSI,Asia/Kolkata,IST,NSE,19800000,NIFTY MIDCAP 50,in_market,CLOSED,INDEX,India,NIFTY MIDCAP 50,^NSEMDCP50,Index

In [109]:
df_ticker.drop(columns=['market','gmtoffsetmilliseconds', 'marketstate', 'exchangetimezonename', 'exchangetimezoneshortnar',
                        'region', 'symbol', 'quotetype', 'currency', 'exchange'], inplace=True)

In [110]:
df_ticker

,ticker,fullexchangename,longname,shortname,typedisp
0,AUBANK.NS,NSE,AU Small Finance Bank Limited,AU SMALL FINANCE BANK LTD,Equity
1,BHARATFORG.NS,NSE,Bharat Forge Limited,BHARAT FORGE LTD,Equity
2,CDSL.NS,NSE,Central Depository Services (India) Limited,CENTRAL DEPO SER (I) LTD,Equity
3,CYIENT.NS,NSE,Cyient Limited,CYIENT LIMITED,Equity
4,EQUITASBNK.NS,NSE,Equitas Small Finance Bank Limited,EQUITAS SMALL FIN BNK LTD,Equity
5,HDFCBANK.NS,NSE,HDFC Bank Limited,HDFC BANK LTD,Equity
6,ICICIBANK.NS,NSE,ICICI Bank Limited,ICICI BANK LTD.,Equity
7,INFY.NS,NSE,Infosys Limited,INFOSYS LIMITED,Equity
8,KPITTECH.NS,NSE,KPIT Technologies Limited,KPIT TECHNOLOGIES LIMITED,Equity
9,MAXHEALTH.NS,NSE,Max Healthcare Institute Limited,MAX HEALTHCARE INS LTD,Equity
10,RELIANCE.NS,NSE,Reliance Industries Limited,RELIANCE INDUSTRIES LTD,Equity
11,TATAELXSI.NS,NSE,Tata Elxsi Limited,TATA ELXSI LIMITED,Equity
12,TCS.NS,NSE,Tata Consultancy Services Limited,TATA CONSULTANCY SERV LT,Equity
13,TIINDIA.NS,NSE,Tube Investments of India Limited,TUBE INVEST OF INDIA LTD,Equity
14,ZYDUSLIFE.NS,NSE,Zydus Lifesciences Limited,ZYDUS LIFESCIENCES LTD,Equity
15,^BSESN,BSE,S&P BSE SENSEX,S&P BSE SENSEX,Index
16,^CNXSC,NSE,NIFTY SMLCAP 100,NIFTY SMLCAP 100,Index
17,^NSEI,NSE,NIFTY 50,NIFTY 50,Index
18,^NSEMDCP50,NSE,NIFTY MIDCAP 50,NIFTY MIDCAP 50,Index

In [111]:
df_ticker.reset_index(inplace=True)
df_ticker['index'] = df_ticker.index + 1
df_ticker.head()

,index,ticker,fullexchangename,longname,shortname,typedisp
0,1,AUBANK.NS,NSE,AU Small Finance Bank Limited,AU SMALL FINANCE BANK LTD,Equity
1,2,BHARATFORG.NS,NSE,Bharat Forge Limited,BHARAT FORGE LTD,Equity
2,3,CDSL.NS,NSE,Central Depository Services (India) Limited,CENTRAL DEPO SER (I) LTD,Equity
3,4,CYIENT.NS,NSE,Cyient Limited,CYIENT LIMITED,Equity
4,5,EQUITASBNK.NS,NSE,Equitas Small Finance Bank Limited,EQUITAS SMALL FIN BNK LTD,Equity

In [112]:
df_ticker.rename(inplace=True, columns={
    'index':'ticker_id',
    'longname':'name',
    'fullexchangename':'exchange_name',
    'typedisp':'type'
})

df_ticker

,ticker_id,ticker,exchange_name,name,shortname,type
0,1,AUBANK.NS,NSE,AU Small Finance Bank Limited,AU SMALL FINANCE BANK LTD,Equity
1,2,BHARATFORG.NS,NSE,Bharat Forge Limited,BHARAT FORGE LTD,Equity
2,3,CDSL.NS,NSE,Central Depository Services (India) Limited,CENTRAL DEPO SER (I) LTD,Equity
3,4,CYIENT.NS,NSE,Cyient Limited,CYIENT LIMITED,Equity
4,5,EQUITASBNK.NS,NSE,Equitas Small Finance Bank Limited,EQUITAS SMALL FIN BNK LTD,Equity
5,6,HDFCBANK.NS,NSE,HDFC Bank Limited,HDFC BANK LTD,Equity
6,7,ICICIBANK.NS,NSE,ICICI Bank Limited,ICICI BANK LTD.,Equity
7,8,INFY.NS,NSE,Infosys Limited,INFOSYS LIMITED,Equity
8,9,KPITTECH.NS,NSE,KPIT Technologies Limited,KPIT TECHNOLOGIES LIMITED,Equity
9,10,MAXHEALTH.NS,NSE,Max Healthcare Institute Limited,MAX HEALTHCARE INS LTD,Equity
10,11,RELIANCE.NS,NSE,Reliance Industries Limited,RELIANCE INDUSTRIES LTD,Equity
11,12,TATAELXSI.NS,NSE,Tata Elxsi Limited,TATA ELXSI LIMITED,Equity
12,13,TCS.NS,NSE,Tata Consultancy Services Limited,TATA CONSULTANCY SERV LT,Equity
13,14,TIINDIA.NS,NSE,Tube Investments of India Limited,TUBE INVEST OF INDIA LTD,Equity
14,15,ZYDUSLIFE.NS,NSE,Zydus Lifesciences Limited,ZYDUS LIFESCIENCES LTD,Equity
15,16,^BSESN,BSE,S&P BSE SENSEX,S&P BSE SENSEX,Index
16,17,^CNXSC,NSE,NIFTY SMLCAP 100,NIFTY SMLCAP 100,Index
17,18,^NSEI,NSE,NIFTY 50,NIFTY 50,Index
18,19,^NSEMDCP50,NSE,NIFTY MIDCAP 50,NIFTY MIDCAP 50,Index

In [113]:
curr = conn.cursor()

curr.execute('''
             CREATE TABLE IF NOT EXISTS dim_ticker(
             ticker_id SERIAL PRIMARY KEY,
             ticker VARCHAR(50) NOT NULL, 
             exchange_name VARCHAR(3),
             long_name VARCHAR(100),
             short_name VARCHAR(100),
             type VARCHAR(10)
             )
             ''')

conn.commit()

In [115]:
from sqlalchemy import engine

engine = create_engine('postgresql+psycopg2://postgres:Dipank01#@localhost/final_project')

df_ticker.to_sql('dim_ticker', engine, if_exists='replace', index=False)

19

In [116]:
conn.close()